@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: rgb(34, 40, 49);
    --color-secondary: rgb(49, 54, 63);
  }
}

@layer components {
  .flex-row-jc {
    @apply flex items-center justify-center;
  }
  .flex-row-jb {
    @apply flex items-center justify-between;
  }

  .flew-col-jb {
    @apply flex items-center justify-between;
  }
}

body {
  @apply bg-primary;
}

.activeSideBar {
  @apply text-blue-400 bg-gray-700 border-l-2 border-blue-600;
}

.active {
  @apply text-blue-400 bg-gray-700 border-l-2 border-blue-600;
}

.react-player {
  @apply rounded-lg;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
